PROJECT_NAME=myapp

# root db
DB_HOST=postgres
DB_PORT=5432
DB_USER=root
DB_PASSWORD=secret

# auth-service db
DB_USER_AUTH=auth_user
DB_PASSWORD_AUTH=auth_password
DB_NAME_AUTH=auth_db

# workspace-service db
DB_USER_WORKSPACE=workspace_user
DB_PASSWORD_WORKSPACE=workspace_password
DB_NAME_WORKSPACE=workspace_db

# nginx
NGINX_HOST=localhost
NGINX_PORT=80

# jwt
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=